.mainButton {
    padding: 3px 14px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 103px;
    height: 36px;
    opacity: 1;
    transition: 0.3s;
    border-radius: 4px;
}

.mainButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

.addButton {
    padding: 6px 7px 14px 6px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 66px;
    height: 28px;
    opacity: 1;
    transition: 0.3s;
    border-radius: 4px;
    margin-left: 10px;
}

.addButton:hover {
    cursor: pointer;
    opacity: 0.8;
}